.background {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'moot-jungle';
    color: black;
    font-size: 4vmax;
}

#login_warning {
    font-size: 4vmax;
    width: 100%;
    height: 100%;
    text-align: center;
}

#coins {
    position: absolute;
    top: 2vmin;
    left: 6vmin;
    z-index: 1;
    font-family: 'moot-jungle';
    font-size: 4vmax;
    color: black;
}

.btn {
    z-index: 1;
    font-family: 'moot-jungle';
    color: black;
    font-size: 4vmax;
    border: none;
    outline: 1px solid black;
    background-color: white;
    pointer-events: all;
}

.btn:active {
    outline: 6px solid #269c36;
    color: #269c36;
    cursor: pointer;
}

#btn_bag {
    position: absolute;
    top: 2vmin;
    right: 6vmin;
}

#bag {
    background-color: white;
    width: max-content;
    outline: 2px solid black;
    padding-left: 6vmax;
    padding-right: 6vmax;
    pointer-events: all;
}

#level {
    position: absolute;
    bottom: 10vmin;
    left: 6vmin;
    z-index: 1;
}

#exp {
    position: absolute;
    bottom: 2vmin;
    left: 6vmin;
    z-index: 1;
}

#crates {
    position: absolute;
    bottom: 2vmin;
    right: 12vmin;
    z-index: 1;
}
