.background {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
}

#login-form {
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
}

input {
    font-size: 6vmin;
    height: 6vmin;
    text-align: center;
    border: none;
    outline: 1px solid black;
    font-family: 'moot-jungle';
    background-color: transparent;
    color: black;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

label {
    font-size: 6vmin;
}

input:hover {
    outline: 6px solid #269c36;
}

#title {
    font-size: 20vmin;
    font-family: 'moot-jungle';
    transition-duration: 0.5s;
}

#error {
    font-size: 6vmin;
    font-family: 'moot-jungle';
    transition-duration: 0.5s;
}

button {
    background-color: white;
    padding: 2vmin;
    font-size: 4vmin;
    font-family: 'moot-jungle';
    transition-duration: 0.5s;
}

button:hover {
    outline: 6px solid #269c36;
}

@font-face {
	font-family: 'moot-jungle';
	src: url('fonts/moot-jungle.ttf') format('truetype');
}
