body {
    overflow: hidden;
}

#root {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 100;
  outline: red 1px solid;
  pointer-events: none;
}

.coins {
  z-index: 1;
  font-size: 6vw;
  color: black;
  outline: red 1px solid;
}