body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#root {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
	justify-content: center;
	align-items: center;
    z-index: 100;
    pointer-events: none;
    margin: 0;
}

@font-face {
	font-family: 'moot-jungle';
	src: url('fonts/moot-jungle.ttf') format('truetype');
}
